target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Binaries
*.docx
*.xlsx
*.xls
*.pdf
*.jpg
*.jpeg
*.png
*.jfif

# Log files
*.log

# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ
.idea/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db
